<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5cffefc7-df5b-4ec6-81af-83f2f59969e3/resourceGroups/Photo-backend/providers/Microsoft.Web/sites/TozoPhoto</ResourceId>
    <ResourceGroup>Photo-backend</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://tozophoto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>tozophoto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TozoPhoto</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TozoPhoto</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>